/* Reset CSS
 * --------------------------------------- */
body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,
form,fieldset,input,textarea,p,blockquote,th,td {
    padding: 0;
    margin: 0;
}
a{
    text-decoration:none;
}
table {
    border-spacing: 0;
}
fieldset,img {
    border: 0;
}
address,caption,cite,code,dfn,em,strong,th,var {
    font-weight: normal;
    font-style: normal;
}
strong{
    font-weight: bold;
}
ol,ul {
    list-style: none;
    margin:0;
    padding:0;
}
caption,th {
    text-align: left;

}
h1,h2,h3,h4,h5,h6 {
    font-weight: normal;
    font-size: 100%;
    margin:0;
    padding:0;
}
q:before,q:after {
    content:'';
}
abbr,acronym { border: 0;
}
*{
    -webkit-box-sizing: border-box; /* Safari<=5 Android<=3 */
    -moz-box-sizing: border-box; /* <=28 */
    box-sizing: border-box;
}

.slide {
    
}

/* Custom
 * --------------------------------------- */
body {
    font-family: 'Roboto Slab', serif;
    /* font-family: arial, helvetica; */
}
.section{
    position: relative;
    text-align: center;
}
#section-1 h2{
    color: #fff;
    font-size: 10em;
    font-weight: 900;
}
#section-1 h1{
    font-size: 2em;
    font-weight: 100;
    -webkit-font-smoothing: antialiased;
    -moz-font-smoothing: antialiased;
    margin: 1.5em auto 1em auto;
    color: #35495e;
    padding-right: 30px;
    padding-left: 30px;
}
#section-1 li {
    display: inline-block;
    margin: 1.25em 0.3em;
}
#black-font {
    color: #000;
}
.section-1-button{
    padding: 0.93em 1.87em;
    background: #35495e;
    border-radius: 5px;
    display: block;
    color: #fff;
}
h3{
    font-size: 5em;
    text-align: center;
    color: #fff;
    font-weight: bold;
}
#logo{
    position: fixed;
    top: 20px;
    left: 20px;
    color: #fff;
    font-weight: bold;
    z-index: 99;
    font-size: 1.9em;
    -webkit-font-smoothing: antialiased;
    -moz-font-smoothing: antialiased;
}

/* Menu
 * --------------------------------------- */
#menu-line {
    position: absolute;
    bottom: -4px;
    left: 0;
    width: 159px;
    height: 2px;
    background: #fff;
}

#menu{
    position: fixed;
    top: 20px;
    right: 20px;
    z-index: 70;
    -webkit-font-smoothing: antialiased;
    -moz-font-smoothing: antialiased;
    letter-spacing: 1px;
    font-size: 1.1em;
}
#menu li{
    display: inline-block;
    margin: 10px 0px;
    position: relative;
}
#menu a{
    color: #fff;
    padding: 0 1.1em 1.1em 1.1em;
}
#menu li.active a:after{
    content: '';
    margin: 0 1.1em 0 1.1em;
    height: 2px;
    background: #fff;
    display: block;
    position: absolute;
    bottom: -6px;
    left: 0;
    right: 0;
    display: block;
}
#firstpage{
    /* background-size: cover;
    background-position: center;
    background-repeat: no-repeat; */
    background: linear-gradient( rgba(0, 0, 0, 0.76), rgba(0, 0, 0, 0.76) ),url("https://i.ibb.co/xh7nRTJ/1.png");
    /* width:100%;
    height:100%; */
}
#secondpage{
    background: linear-gradient( rgba(0, 0, 0, 0.85), rgba(0, 0, 0, 0.95) ),url("https://i.ibb.co/WFXgT2G/2.png");
}
#thirdpage{
    background: linear-gradient( rgba(0, 0, 0, 0.76), rgba(0, 0, 0, 0.76) ),url("https://i.ibb.co/G0DDDvy/4.png");
}
#fourthpage{
    background: linear-gradient( rgba(0, 0, 0, 0.76), rgba(0, 0, 0, 0.76) ),url("https://i.ibb.co/kHD5Cvz/5.png");
}
#fourthpagelinks{
    padding-top: 60px;
    padding-bottom: 200px;
}
#firsttimeline{
    text-align: center;
}
a:link {
    color: white;
    background-color: transparent;
    text-decoration: none;
  }  
  a:hover {
    color: grey;
    background-color: transparent;
    text-decoration: underline;
  }
  a:active {
    color: grey;
    background-color: transparent;
    text-decoration: underline;
  }
  a:visited {
    color: white;
    background-color: transparent;
    text-decoration: none;
  }
  
#content1{
    color: white;
    padding-top: 100px;
    padding-left: 200px;
    padding-right: 200px;
    font-family: 'Roboto Slab', serif;

}
#content2slide1{
    color: white;
    padding-left: 200px;
    padding-right: 200px;
    /*padding-bottom: 500px;*/
    font-family: 'Roboto Slab', serif;

}
#content3{
    color: white;
    padding-top: 50px;
    padding-left: 200px;
    padding-right: 200px;
    /*padding-bottom: 500px;*/
    font-family: 'Roboto Slab', serif;
}

#content4{
    color: white;
    padding-top: 100px;
    padding-left: 200px;
    padding-right: 200px;
    font-family: 'Roboto Slab', serif;
}
/*.arrowDown {
    border: solid white;
    border-width: 0px 15px 15px 0px;
    display: inline-block;
    padding: 30px;
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
}*/
/* .arrowDown { */
    /* background-color: transparent; */
    /* background: url(https://i.ibb.co/gF7SBTJ/Group-3.png) no-repeat; */
    /* background-image: -moz-linear-gradient(red,orange);
    background-repeat:no-repeat;
    border: none;
    cursor:pointer;
    overflow: hidden;
    border: solid black;
    border-radius: 5px;
    border-width: 0px 10px 10px 0px;
    display: inline-block;
    padding: 50px;
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg); */
    /* down: 0;
    border: none;
    width: 500px;
    height: 500px;
    background: url(https://i.ibb.co/gF7SBTJ/Group-3.png) no-repeat;
    cursor: pointer; */
/* }   */

/* #saveForm{
    fullpage_api.moveSectionDown();
} */

/* Actions buttons
 * --------------------------------------- */
.actions{
    position: fixed;
    bottom: 2%;
    margin: 0 auto;
    z-index: 99;
    left: 0;
    right: 0;
    text-align: center;
}
.actions li{
    display: inline-block;
    margin: 0.3em 0.3em;
}
.actions-button{
    padding: 0.73em 1.47em;
    background: rgba(53, 73, 94, 0.47);
    border-radius: 5px;
    display: block;
    color: #fff;
    cursor: pointer;
}

/* Twitter
 * --------------------------------------- */
.twitter-share i{
    vertical-align: middle;
    position: relative;
    top: 2px;
    display: inline-block;
    width: 38px;
    height: 14px;
    color: white;
    top: -4px;
    left: -2px;
    fill: #fff;
}
.twitter-share svg{
    height: 40px;
    margin-top: -10px;
}
.view-github{
    position: fixed;
    top: 20px;
    left: 20px;
    z-index: 999;
    padding: .93em 1.87em;
    background: #35495e;
    border-radius: 5px;
    display: block;
    color: #fff;
}

