/* Reset CSS
 * --------------------------------------- */
body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,
form,fieldset,input,textarea,p,blockquote,th,td {
    padding: 0;
    margin: 0;
}
a{
    text-decoration:none;
}
table {
    border-spacing: 0;
}
fieldset,img {
    border: 0;
}
address,caption,cite,code,dfn,em,strong,th,var {
    font-weight: normal;
    font-style: normal;
}
strong{
    font-weight: bold;
}
ol,ul {
    list-style: none;
    margin:0;
    padding:0;
}
caption,th {
    text-align: left;

}
h1,h2,h3,h4,h5,h6 {
    font-weight: normal;
    font-size: 100%;
    margin:0;
    padding:0;
}
q:before,q:after {
    content:'';
}
abbr,acronym { border: 0;
}
*{
    -webkit-box-sizing: border-box; /* Safari<=5 Android<=3 */
    -moz-box-sizing: border-box; /* <=28 */
    box-sizing: border-box;
}

/* Custom
 * --------------------------------------- */
body {
    font-family: arial, helvetica;
}
.section{
    position: relative;
    text-align: center;
}
#section-1 h2{
    color: #fff;
    font-size: 10em;
    font-weight: 900;
}
#section-1 h1{
    font-size: 2em;
    font-weight: 100;
    -webkit-font-smoothing: antialiased;
    -moz-font-smoothing: antialiased;
    margin: 1.5em auto 1em auto;
    color: #35495e;
    padding-right: 30px;
    padding-left: 30px;
}
#section-1 li {
    display: inline-block;
    margin: 1.25em 0.3em;
}
.section-1-button{
    padding: 0.93em 1.87em;
    background: #35495e;
    border-radius: 5px;
    display: block;
    color: #fff;
}
h3{
    font-size: 5em;
    text-align: center;
    color: #fff;
    font-weight: bold;
}
#logo{
    position: fixed;
    top: 20px;
    left: 20px;
    color: #fff;
    font-weight: bold;
    z-index: 99;
    font-size: 1.9em;
    -webkit-font-smoothing: antialiased;
    -moz-font-smoothing: antialiased;
}

/* Menu
 * --------------------------------------- */
#menu-line {
    position: absolute;
    bottom: -4px;
    left: 0;
    width: 159px;
    height: 2px;
    background: #fff;
}

#menu{
    position: fixed;
    top: 20px;
    right: 20px;
    z-index: 70;
    -webkit-font-smoothing: antialiased;
    -moz-font-smoothing: antialiased;
    letter-spacing: 1px;
    font-size: 1.1em;
}
#menu li{
    display: inline-block;
    margin: 10px 0px;
    position: relative;
}
#menu a{
    color: #fff;
    padding: 0 1.1em 1.1em 1.1em;
}
#menu li.active a:after{
    content: '';
    margin: 0 1.1em 0 1.1em;
    height: 2px;
    background: #fff;
    display: block;
    position: absolute;
    bottom: -6px;
    left: 0;
    right: 0;
    display: block;
}
#firstpage{
    background: linear-gradient( rgba(0, 0, 0, 0.76), rgba(0, 0, 0, 0.76) ),url("https://s3-alpha-sig.figma.com/img/a419/3fa6/a2281e0e363ecd22f8cf1e24fe766311?Expires=1601251200&Signature=FxedvU8UScvwUm5FEWDMj5A6zfOVsavgyZCSpxVFtjw3ymtn-u29aUfOh6dHniwqdKRdBXo9i1i3P97aKrqhTrDMCq3qU5owqk3KLrf79Eo7r~qyM4RYMNMGvOUMJ4bnbQqdBX4CkBZz7fKcVmJICwxyQQa1BiviJu9yPN8BgDd4r9tskbomroMw0m5OfXW3fbsHuFp41QKK~60-qYI2RJfHNp3lKtIFBNJdke9GhSvxuDXW~CSCdACbqPKPd5YgaiH5RWOFo6hqR0m2Bee~YKyXyLYuYLSa0KxARQv09Q~0aBmmoIHGLT7USssvEdCue~sqT3C-9BpS2A4IkHxMhw__&Key-Pair-Id=APKAINTVSUGEWH5XD5UA");
  
}
#secondpage{
    background: linear-gradient( rgba(0, 0, 0, 0.76), rgba(0, 0, 0, 0.76) ),url("https://s3-alpha-sig.figma.com/img/de5e/fa55/9307eb00fb7c5a545d7871ca3569974d?Expires=1601251200&Signature=eGcfYujKnK5feUALrouDvp8kyDj0H22wtQKoIC3b~fdK0RxqoLDroxVVkG1I8Hz-2bAdJjK8dsr5cZPLc6m0GxQDtDbnQgSL5VptDFdsASKyuR4YQXqvA92KCa-2PKtBpyabJmV4KxIKq-b-O55IczNVOTP3efIFVByRAAX6omeIggtJR7GUl1KBcrripHJ89kzDYHSs3ylYvYH5I34HeakIFTkhjOLUfZ2gjdwPONBpBzRx3zU~RldPR6Rk7kB9IyZ3bqsDNgdDgmOGHByveDM3pLrXObNcfc7~eQiXIGIkHwnKri2Pl7pxLAJW8P3o8AlVkg38Km7q5T4ltIpE6A__&Key-Pair-Id=APKAINTVSUGEWH5XD5UA");
}
#thirdpage{
    background: linear-gradient( rgba(0, 0, 0, 0.76), rgba(0, 0, 0, 0.76) ),url("https://s3-alpha-sig.figma.com/img/de5e/fa55/9307eb00fb7c5a545d7871ca3569974d?Expires=1601251200&Signature=eGcfYujKnK5feUALrouDvp8kyDj0H22wtQKoIC3b~fdK0RxqoLDroxVVkG1I8Hz-2bAdJjK8dsr5cZPLc6m0GxQDtDbnQgSL5VptDFdsASKyuR4YQXqvA92KCa-2PKtBpyabJmV4KxIKq-b-O55IczNVOTP3efIFVByRAAX6omeIggtJR7GUl1KBcrripHJ89kzDYHSs3ylYvYH5I34HeakIFTkhjOLUfZ2gjdwPONBpBzRx3zU~RldPR6Rk7kB9IyZ3bqsDNgdDgmOGHByveDM3pLrXObNcfc7~eQiXIGIkHwnKri2Pl7pxLAJW8P3o8AlVkg38Km7q5T4ltIpE6A__&Key-Pair-Id=APKAINTVSUGEWH5XD5UA");
}
#fourthpage{
    background: linear-gradient( rgba(0, 0, 0, 0.76), rgba(0, 0, 0, 0.76) ),url("https://s3-alpha-sig.figma.com/img/9c2d/66d3/a10a2bcd53ef5870b94f7017b2b9c3c6?Expires=1601251200&Signature=WsBGg10XNGZMod1s4nomPhMK2A4Ie9tU~vWRqhXIUakDakY8ldHiVNfzGGTS1sbwAmZM-RDYkUN~mL9TwOihZVnmwzhJd5L2Kzehq3Em0bRcpi~VrUbnPUHaliT2J0mXhMMo9LNJxIOgnwonIywSFvsRKS~cJHsmBLbgVsY1sKZSePy0mY2S-9zHyyHP1WmZyo56cxQWbF-aXxXHH6PWsmwO12A8q9kVMbO9~EMTOxfuesNr5i0neCF5XM3eFWA-u8NRCSa68QH9v2SNIaGg0LCdH2cp8BLnFOR3DsWzAk8lTIVmJiMW0qIimTGY8q3WlkDWqPUrDTVUt5dpQ0xgqA__&Key-Pair-Id=APKAINTVSUGEWH5XD5UA");
}
#fourthpagelinks{
    padding-top: 200px;
    padding-bottom: 200px;
}

a:link {
    color: white;
    background-color: transparent;
    text-decoration: none;
  }
  a:visited {
    color: grey;
    background-color: transparent;
    text-decoration: none;
  }
  a:hover {
    color: grey;
    background-color: transparent;
    text-decoration: underline;
  }
  a:active {
    color: grey;
    background-color: transparent;
    text-decoration: underline;
  }
  
  
#content1{
    color: white;
    padding-top: 100px;
    padding-left: 200px;
    padding-right: 200px;
    font-family: Roboto Slab;

}
#content3{
    color: white;
    padding-top: 100px;
    padding-left: 200px;
    padding-right: 200px;
    font-family: Roboto Slab;
}

#content4{
    color: white;
    padding-top: 100px;
    padding-left: 200px;
    padding-right: 200px;
    font-family: Roboto Slab;
}
.arrowDown {
    border: solid white;
    border-width: 0px 30px 30px 0px;
    display: inline-block;
    padding: 60px;
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
}
#firstpagearrow{
    padding-top:200px;
}
  


/* Actions buttons
 * --------------------------------------- */
.actions{
    position: fixed;
    bottom: 2%;
    margin: 0 auto;
    z-index: 99;
    left: 0;
    right: 0;
    text-align: center;
}
.actions li{
    display: inline-block;
    margin: 0.3em 0.3em;
}
.actions-button{
    padding: 0.73em 1.47em;
    background: rgba(53, 73, 94, 0.47);
    border-radius: 5px;
    display: block;
    color: #fff;
    cursor: pointer;
}

/* Twitter
 * --------------------------------------- */
.twitter-share i{
    vertical-align: middle;
    position: relative;
    top: 2px;
    display: inline-block;
    width: 38px;
    height: 14px;
    color: white;
    top: -4px;
    left: -2px;
    fill: #fff;
}
.twitter-share svg{
    height: 40px;
    margin-top: -10px;
}
.view-github{
    position: fixed;
    top: 20px;
    left: 20px;
    z-index: 999;
    padding: .93em 1.87em;
    background: #35495e;
    border-radius: 5px;
    display: block;
    color: #fff;
}
#mainHeader{
    padding-top: 200px;
    padding-left: 200px;
}
